div {
    text-align: center;
}

.custom-nav {
    background-color: #F4F8D3 !important;
}

.main-bg {
    height: 300px;
    background-image: url('/image/bg.png');
    background-size: cover;
    background-position: center;
}